.slider {
    .buttonleft {
        position: absolute;
        left: 0;
        bottom: -250px;
    }
    .buttonright {
        position: absolute;
        right: 0;
        bottom: -250px;
    }
    .slider {
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        height: 400px;
        display: flex;
        margin: 0;
        padding: 0;
        z-index: 1;
        margin-top: -74px;
        .slide {
            display: flex;
            min-width: 100%;
            transition: all 3s;
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .dotslider {
            position: absolute;
            z-index: 3;
            bottom: 60px;
            right: 7%;
            .dot {
                height: 13px;
                width: 13px;
                margin-right: 10px;
                cursor: pointer;
                font-size: 10px;
                background-color: #bbb;
                border-radius: 50%;
                padding: 0;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            .active {
                background-color: rgb(236, 233, 10);
            }
        }
    }
    .formsearch {
        position: relative;
        .container {
            .title__form {
                position: absolute;
                bottom: 65px;
                z-index: 2;
                a {
                    position: relative;
                    background-color: #e8e8e8;
                    padding: 10px 20px;
                    border-radius: 4px 4px 0 0;
                    color: #262626;
                    font-size: 14px;
                    cursor: pointer;
                    span {
                        svg {
                            margin-right: 5px;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
                .active {
                    background-color: #ffff;
                }
            }
        }
    }
    .searchhotelplane {
        position: relative;
        width: 100%;
        .container {
            .form__search {
                position: relative;
                flex-wrap: nowrap;
                padding: 20px;
                z-index: 2;
                bottom: 56px;
                margin-bottom: 11px;
                background-color: #fff;
                p,
                .come__back-title {
                    font-size: 14px;
                    color: #222;
                    margin: 0 0 10px;
                    float: left;
                }
                .search__submit {
                    height: 40px;
                    background-color: #ff8917;
                    color: #fff;
                    font-size: 16px;
                    cursor: pointer;
                    i {
                        margin-right: 5px;
                        position: relative;
                        top: 1px;
                    }
                }
                .search__submit:hover {
                    background-color: #ffc317 !important;
                }
                .formsearch__content {
                    position: relative;
                    align-items: flex-end;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .search {
                        width: 50%;
                    }

                    .input__search {
                        display: block;
                        height: 20px;
                        padding: 6px 12px;
                    }
                    .check__in {
                        width: 15%;
                    }
                    .check__out {
                        width: 15%;
                    }
                }
                .flighthome__content {
                    display: grid;
                    position: relative;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 10px;
                    grid-template-columns: 33% 33% 33%;
                    grid-column-gap: 10px;
                    grid-row-gap: 1em;
                    box-sizing: border-box;
                    input {
                        max-width: 100%;
                    }
                    input::placeholder {
                        transform: translateX(144px);
                    }

                    .fc__icon {
                        position: absolute;
                        top: 6px;
                        right: -17px;
                        z-index: 1;
                        cursor: pointer;
                        box-sizing: border-box;
                        a {
                            display: block;
                            width: 24px;
                            height: 24px;
                            color: #777;
                            text-align: center;
                            line-height: 24px;
                            background-color: #fff;
                            border: 1px solid #ddd;
                            border-radius: 50%;
                            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
                            font-size: 16px;
                            svg {
                                left: 30%;
                                top: 25%;
                            }
                        }
                    }

                    .control__toggle {
                        position: relative;
                        display: inline-block;
                        width: 28px;
                        height: 16px;
                        margin-left: 10px;
                        transform: translateY(3px);
                    }
                    .control__toggle input[type="checkbox"] {
                        display: none;
                    }
                    .control__toggle {
                        .change {
                            background-color: #2196f3;
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            transition: 0.4s;
                            position: relative;
                            border-radius: 50px;
                        }
                        .change:before {
                            background-color: #fff;
                            bottom: 2px;
                            content: "";
                            height: 12px;
                            right: 3px;
                            position: absolute;
                            transition: 0.4s;
                            width: 12px;
                            border-radius: 50px;
                        }
                    }
                    .control__toggle input[type="checkbox"]:checked + .change:before {
                        transform: translateX(-9px);
                    }
                }
            }
        }
    }
    .check__active {
        display: none;
    }
    .form__active {
        display: block;
    }
    .input__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        img,
        svg {
            position: absolute;
            cursor: pointer;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
        }
    }
}
