.slider {
    .slidershow {
        position: relative;
        cursor: pointer;
        .container {
            width: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            display: flex;
            .slider {
                width: 100%;
                height: 400px;
                transform: translateX(-200%);
                position: absolute;
                top: -73px;
                z-index: 1;
                margin: auto;
                transition: all 1s;
            }
            .active {
                transform: translateX(0);
                transition: all 5s;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .dotslider {
            position: absolute;
            z-index: 2;
            bottom: -250px;
            right: 5%;
            .dot {
                height: 13px;
                width: 13px;
                margin-right: 10px;
                cursor: pointer;
                font-size: 10px;
                background-color: #bbb;
                border-radius: 50%;
                padding: 0;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            .active {
                background-color: rgb(236, 233, 10);
            }
        }
    }
    .formsearch {
        position: relative;
        .container {
            .title__form {
                position: absolute;
                bottom: 70px;
                left: 5%;
                z-index: 2;
                a {
                    position: relative;
                    background-color: #e8e8e8;
                    padding: 10px 20px;
                    border-radius: 4px 4px 0 0;
                    color: #262626;
                    font-size: 14px;
                    span {
                        svg {
                            margin-right: 5px;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
                .active {
                    background-color: #ffff;
                }
            }
        }
    }
    .searchhotelplane {
        position: relative;
        width: 100%;
        .container {
            .form__search {
                position: relative;
                flex-wrap: nowrap;
                padding: 20px;
                z-index: 2;
                bottom: 61px;
                margin-bottom: 11px;
                background-color: #fff;
                p {
                    font-size: 14px;
                    color: #222;
                    margin: 0 0 10px;
                    float: left;
                }
                input {
                    margin: 0;
                    width: 100%;
                    font-size: 14px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    height: 34px;
                }
                .formsearch__content {
                    position: relative;
                    align-items: flex-end;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .search {
                        width: 50%;
                    }

                    .input__search {
                        display: block;
                        height: 20px;
                        padding: 6px 12px;
                    }
                    .check__in {
                        width: 15%;
                    }
                    .check__out {
                        width: 15%;
                    }
                    img {
                        position: relative;
                        top: 37px;
                        left: -100px;
                    }
                    .search__submit {
                        width: 10%;
                        height: 40px;
                        background-color: #ff8917;
                        color: #fff;
                        i {
                            margin-right: 5px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
                .flighthome__content {
                    display: grid;
                    position: relative;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 10px;
                    grid-template-columns: 32% 32% 32%;
                    grid-column-gap: 10px;
                    grid-row-gap: 1em;
                    .search__submit {
                        height: 40px;
                        background-color: #ff8917;
                        color: #fff;
                        font-size: 16px;
                        i {
                            margin-right: 5px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
        }
    }
}
