.promotion__combo {
    position: relative;
    margin-top: 40px;

    .promotion__comboTitle {
        text-align: center;
        margin: 40px 10px 30px;
        h2 {
            font-weight: 700;
            font-size: 24px;
            color: #262626;
            margin: 0;
        }
    }
    .container {
        padding-bottom: 40px;

        ul {
            display: flex;
            overflow: hidden;
            position: relative;
            margin: 0 40px;
            padding: 0;
            .promotion__comboItem {
                background-color: #ffff;
                overflow: hidden;
                display: block;
                position: relative;
                min-width: 24%;
                width: 270px;
                margin-right: 15px;
                .promotion__comboImage {
                    width: 100%;
                    height: 178px;
                    img {
                        border-radius: 4px;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .promotion__comboContent {
                padding: 15px;
                .text__top {
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 5px;
                    height: 90px;
                    overflow: hidden;
                    a {
                        color: unset;
                        text-decoration: unset;
                    }
                }
                .text__middle {
                    span {
                        text-align: left;
                        display: block;
                        color: #595959;
                        font-size: 14px;
                        position: relative;
                        padding-left: 18px;
                        margin-bottom: 5px;
                        svg {
                            position: absolute;
                            top: 2px;
                            left: -2px;
                        }
                    }
                }
                .text__bottom {
                    text-align: right;
                    margin: 0;
                    p {
                        margin-right: 10px;
                    }
                    span {
                        margin-left: 5px;
                        margin-right: 10px;
                        font-size: 24px;
                        font-weight: 600;
                        color: #fa8c16;
                        text-decoration: unset;
                    }
                }
            }
        }
    }
}
